/* ========initial styles====== */
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
a {
  font-family: inherit;
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
}
/* ========/initial styles====== */

/* =======header styles======= */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-blue {
  color: #2e2f42; #f4f4fd
}
.nav-menu-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-menu-list-link:hover,
.nav-menu-list-link:focus,
.adress-mail:hover,
.adress-mail:focus,
.adress-tel:hover,
.adress-tel:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.adress-mail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.adress-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/* =======/header styles======= */

/* ========hero section styles========= */
.hero-section {
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/* ========/hero section styles========= */

/* =======advantages section styles====== */
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =======/advantages section styles====== */

/* ========our team section styles========= */
.our-team-section {
  background-color: #f4f4fd;
}
.our-team-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-team-prof-card {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
}
.our-team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ========/our team section styles========= */

/* ========portfolio section styles========= */
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ========/portfolio section styles========= */

/* ========footer styles ===========*/
.page-footer {
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ========/footer styles ===========*/
